@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --main-color: #075ac1;
  --color-dark: #1d2231;
  --text-gray: #8390a2;
  --body-bg: #f1f5f9;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  font-family: "Roboto", sans-serif;
}
