@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --main-color: #075ac1;
  --color-dark: #1d2231;
  --text-gray: #8390a2;
  --body-bg: #f1f5f9;
  --color-success: #def7ec;
  --color-warning: #f0f6b2;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  font-family: "Roboto", sans-serif;
}
/* main {
  margin-top: 60px;
  background-color: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 3rem;
} */

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
  .sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
  }
}
