.search-box {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.search-form {
  align-items: center;
  display: flex;
}
.search-input {
  border: 2px solid #d4d4d7;
  border-right: 0px;
  outline: none;
  height: 48px;
  padding: 8px;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--color-dark);
}
::placeholder {
  color: var(--color-dark);
  font-size: 18px;
}
.search-button {
  border: 2px solid #c8c8c9;
  background-color: var(--main-color);
  padding: 14px;
  line-height: 4px;
}
