.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--main-color);
  color: #ffffff;
  overflow-y: auto;
  transition: width 500ms;
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}
