.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--main-color);
  color: #ffffff;
  overflow-y: auto;
  transition: width 500ms;
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}
@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
  .sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
  }
}
