header {
  position: fixed;
  top: 0;
  left: 240px;
  z-index: 100;
  width: calc(100% - 240px);
  background-color: #ffffff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  transition: 500ms;
}

.header-right-wrapper {
  display: flex;
  align-items: center;
}
.header-date{
  margin-left: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span,
.social-icons div {
  margin-left: 1.2rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/useravatar.png");
  border-radius: 50%;
}
