.multi-select {
  /* border: 1px solid black; */
  /* padding: 10px; */
  /* box-sizing: border-box; */
  margin-left: 20px;
  width: 312px;
  /* background-color: yellow; */
}
.selectBox {
  position: relative;
}
.select {
  padding: 14px;
  width: 100%;
  border: 2px solid #e3e1e1;
  display: flex;
  justify-content: space-between;
  color: gray;
}
.overSelect {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
#checkboxes {
  background-color: rgb(218, 211, 211);
  border: 1px solid gray;
  border-top: 1px solid #e3e1e1;
  margin-top: 0px;
  padding: 10px 5px;
  width: 312px;
  position: absolute;
  z-index: 10;
}
input[type="checkbox"] {
  margin-right: 7px;
  margin-top: 8px;
  margin-bottom: 13px;
}
#checkboxes label {
  color: gray;
  font-weight: bold;
  display: block;
}
#checkboxes label:hover {
  background-color: #d5deeb;
}
